// ion-slides{
//   overflow-y: scroll;
// }


.swiper-lazy-preloader::after, ion-slides {
    height: 55vh;
    display: block;
    width: 100%;
}
// .swiper-container {
//     margin-left: auto;
//     margin-right: auto;
//     display: flex;
//     overflow: hidden;
// }
// .swiper-container, .swiper-wrapper {
//     z-index: 1;
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     position: relative;
//     width: 100%;
//     height: 100%;
//     padding: 0;
// }

.swiper-container-vertical{
  // height: 40px;
}