<ion-content fullscreen mode="ios">
  <br>
  <br>
  <div class="d-flex-center">
    <div class="d-flex-v-center step-box-active">1</div>
    <div class="d-flex-v-center">
      <div class="divider "></div>
    </div>
    <div class="d-flex-v-center step-box-unactive">2</div>
  </div>
  <ion-row>
    <ion-col class="text-center">
      <ion-label class="form-title">
        Quel est votre emploi ?
      </ion-label>
    </ion-col>
  </ion-row>
  <div style="padding:5px 25px">
    <!--<ion-row class="p-top-10">
      <ion-col class="text-center">
        <ion-label class="search-text" style="opacity: 0.3;">
          Apprenti
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="p-top-10">
      <ion-col class="text-center">
        <ion-label class="search-text" style="opacity: 0.5;">
          Artisan
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="p-top-10">
      <ion-col class="text-center">
        <ion-label class="search-text" style="opacity: 0.8;">
          Auteur
        </ion-label>
      </ion-col>
    </ion-row> -->
    <br>
    <br>
    <!-- <div class="active-box"></div> -->
    <ng-container *ngIf="jobs">
      <!-- <ion-row class="p-top-10" *ngFor="let data of jobs;let i = index">
        <ion-col class="text-center" (click)="onClickMove(data.name, data.id)">
          <div class="search-text" *ngIf="i == 4" 
          style="line-height: 40px;width: 100%; border-radius: 25px;border: 1px solid grey;"
          >
          {{data.name}}
        </div>
          <ion-label class="search-text" *ngIf="i != 4"style="opacity: 0.6;" >
          {{data.name}}
        </ion-label>
        </ion-col>
      </ion-row> -->
      <!-- <ion-slides [options]="option" loop="true" pager="false" #slides (ionSlideWillChange)="onSlideChanged()"
        *ngIf="jobs">
        <ion-slide *ngFor="let data of jobs;let i = index" (click)="onClickMove(data.name, data.id)">
          <div class="search-text">
            {{data.name}}
          </div>
        </ion-slide>
      </ion-slides> -->
      <ion-item lines="none">
        <ion-label>Emploi</ion-label>
        <ion-select #C (ionChange)="onSelectChange(C.value)"  [(ngModel)]="jobId">
            <ion-select-option *ngFor="let data of jobs;let i = index"  value="{{data.id}}">{{data.name}}</ion-select-option>
        </ion-select>
      </ion-item>


    </ng-container>

    <!-- <ion-slides [options]="option1" *ngIf="jobs">
      <ng-container *ngFor="let data of jobs;let i = index">
        <ion-slide>
          <div class="search-text" style="opacity: 0.6;">
            {{data.name}}
          </div>
        </ion-slide>
      </ng-container>
    </ion-slides> -->

    <!-- <ion-row class="p-top-10">
      <ion-col class="text-center">
        <ion-label class="search-text" style="opacity: 0.8;">
          Exploitant agricole
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="p-top-10">
      <ion-col class="text-center">
        <ion-label class="search-text" style="opacity: 0.5;">
          Fonctionnaire
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="p-top-10">
      <ion-col class="text-center">
        <ion-label class="search-text" style="opacity: 0.3;" routerLink="/unemployed" routerDirection="forward">
          Sans emploi
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="p-top-10">
      <ion-col class="text-center">
        <ion-label class="search-text" style="opacity: 0.15;" routerLink="/illness" routerDirection="forward">
          Longue maladie
        </ion-label>
      </ion-col>
    </ion-row> -->
    <br>
    <br>
    <ion-row *ngIf="isActiveButton">
      <ion-col>
        <div class="d-flex" style="display: flex;justify-content: space-between;">
          <div class="arrow-left d-flex-v-center" routerLink="/profile-incoming" routerDirection="forward">
            <ion-icon name="arrow-back" mode="md"></ion-icon>
          </div>
          <div class="arrow-right d-flex-v-center" (click)="moveNextStep(currentJob)">
            <ion-icon name="arrow-forward" mode="md"></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
