<ion-content fullscreen>
  <div style="padding-top: 100px;padding-bottom: 30px;">
    <ion-row>
      <ion-col class="text-center">
        <ion-label>
          <h1><strong>Entter votre <div>
                code secret
              </div></strong></h1>
        </ion-label>
      </ion-col>
    </ion-row>
  </div>
  <div>
    <ion-row class="text-center">
      <ion-col>
        <ion-input #otp1 required maxLength="1" (keyup)="otpController($event,otp2,'')" type="password">
        </ion-input>
        <ion-input #otp2 required maxLength="1" (keyup)="otpController($event,otp3,otp1)" type="password">
        </ion-input>
        <ion-input #otp3 required maxLength="1" (keyup)="otpController($event,otp4,otp2)" type="password">
        </ion-input>
        <ion-input #otp4 required maxLength="1" (keyup)="otpController($event,otp5,otp3)" type="password">
        </ion-input>
        <ion-input #otp5 required maxLength="1" (keyup)="otpController($event,'',otp4)" type="password">
        </ion-input>
      </ion-col>
    </ion-row>
  </div>
  <br>
  <br>
  <div class="login-form" mode="ios">
    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/done" routerDirection="forward">ENVOYER</ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
