<ion-content fullscreen>
  <div class="logo-img">
    <img src="https://via.placeholder.com/150" alt="..">
  </div>
  <br>
  <div class="welcome-button-group">
    <ion-row>
      <ion-col>
        <button type="button" class="welcome-button">
          SE CONNECTER
        </button>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <button type="button" class="welcome-button">
          S'INSCRIRE
        </button>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <button type="button" class="welcome-button">
         DÉCOUVERTE CROSH
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
