<ion-content fullscreen mode="ios">
  <br>
  <br>
  <div class="d-flex-center">
    <div class="d-flex-v-center step-box-active"><ion-icon name="checkmark"></ion-icon></div>
    <div class="d-flex-v-center">
      <div class="divider "></div>
    </div>
    <div class="d-flex-v-center step-box-active">2</div>
  </div>
  <div style="padding: 10px 15px;">
    <ion-row>
      <ion-col class="text-center">
        <ion-label class="form-title">
          Vous etes:
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-center">
        <ion-label class="profile-label">
          Commercant
        </ion-label>
      </ion-col>
    </ion-row>
    <br>
    <div style="padding: 15px;" >
      <ion-row>
        <ion-col class="text-center">
          <ion-label class="incoming-text">Quel sest votre revenu mensuel ?</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-center">
          <ion-label class="incoming-value">
            {{monthValue}} €
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-range min="0" max="360000" class="range" step="100" value="{{monthValue}}"
            (ionChange)="onChangeGetMonthValue($event)">
          </ion-range>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col class="text-center">
          <ion-label class="incoming-text">Quel est votre revenu annuel ?</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-center">
          <ion-label class="incoming-value">
            {{remainMonthValue}} €
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-range min="0" max="4400" class="range" step="100" value="{{remainMonthValue}}"
            (ionChange)="onChangeGetRemainValue($event)">
          </ion-range>
        </ion-col>
      </ion-row>
      <br>
      <br>
      <br>
    </div>
    <ion-row>
      <ion-col>
        <div class="d-flex" style="display: flex;justify-content: space-between;">
          <div class="arrow-left d-flex-v-center" routerLink="/job-search" routerDirection="forward">
            <ion-icon name="arrow-back" mode="md"></ion-icon>
          </div>
          <div class="arrow-right d-flex-v-center" (click)="submit()">
           <ion-icon name="checkmark"></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <br>
  </div>

</ion-content>
