<ion-content fullscreen>
  <div style="padding-top: 80px;padding-bottom: 30px;">
    <ion-row>
      <ion-col class="text-center">
        <ion-label>
          <h1 style="color: grey;">
            <strong>Pourquoi créer
              <div>
                un compte CROSH
              </div>
            </strong>
          </h1>
        </ion-label>
      </ion-col>
    </ion-row>
  </div>
  <br>
  <br>
  <ion-row>
    <ion-col class="text-center">
      <ion-label>
        <h1 style="color: #3b3b70;">
          <strong>Présentation
            <div>
              +
            </div>
            <div>
              Sécurité
            </div>
            <div>
              +
            </div>
            <div>
              blabla
            </div>
          </strong>
        </h1>
      </ion-label>
    </ion-col>
  </ion-row>
  <br>
  <br>
  <br>
  <br>
  <ion-row>
    <ion-col class="text-center">
      <ion-label>
        <h1 style="color: #afafe9;cursor: pointer;"  routerLink="/register" routerDirection="forward">
          <strong>Créer mon compte
          </strong>
        </h1>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-content>
