<ion-content fullscreen>
  <img src="assets/arrow_down.png" class="close-icon" routerLink="/home/dashboard" routerDirection="forward">
  <div style="padding: 0 30px;display: flex;justify-content: center;align-items: center;height: 100vh;">
    <ion-row>
      <ion-col class="text-center">
        <img src="assets/success_logo.png">
        <div>
          <h1 style="opacity:0.9">
            <strong>
              Vos informations ont ete enregistre ave succes
            </strong>
          </h1>
          <h4 style="color: grey;">
            Nous sommes ravi de vous aoir parmi nous !
          </h4>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
