<ion-content fullscreen>
  <div style="padding-top: 60px;padding-bottom: 10px;">
    <ion-row>
      <ion-col class="text-center">
        <ion-label>
          <h1 style="color: grey;"><strong>INSCRIPTION</strong></h1>
        </ion-label>
      </ion-col>
    </ion-row>
  </div>

  <ion-row>
    <ion-col class="text-center">
      <ion-label>
        <h2 style="color: #3b3b70;"><strong>Laissez nous faire votre
            <div>
              connaissance ...
            </div>
          </strong></h2>
      </ion-label>
    </ion-col>
  </ion-row>
  <div class="login-form" mode="ios">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-row mode="md">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Prénom</ion-label>
            <ion-input type="text" formControlName="firstName" name="firstName"></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">Email is required</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row mode="md">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nom</ion-label>
            <ion-input type="text" formControlName="lastName" name="lastName"></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Email is required</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row mode="md">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" class="form-control" name="email" formControlName="email"
             required [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            </ion-input>
          </ion-item>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row mode="md">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Mot de passe</ion-label>
            <ion-input type="password" class="form-control" name="password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password"
               required></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row mode="md">
        <ion-col>
          <ion-item>
            <ion-label position="floating">
              Confiremez votre mot de passe
            </ion-label>
            <ion-input type="password" name="cpassword" formControlName="cpassword"></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
            <div *ngIf="f.cpassword.errors.required">Confirm Password is required</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-item class="ion-item" no-lines lines="none">
        <ion-label>Vous acceptez nos RGPD. Celan'implique aucun engagement de votre part ..</ion-label>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
      </ion-item>
      <br>
      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit">Confirmer mon inscription
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
