<ion-content fullscreen mode="ios">
  <br>
  <br>
  <div class="d-flex-center">
    <div class="d-flex-v-center step-box-active">
      <ion-icon name="checkmark"></ion-icon>
    </div>
    <div class="d-flex-v-center">
      <div class="divider "></div>
    </div>
    <div class="d-flex-v-center step-box-active">2</div>
    <div class="d-flex-v-center">
      <div class="divider "></div>
    </div>
    <div class="d-flex-v-center step-box-unactive">3</div>
  </div>
  <br>
  <ion-row>
    <ion-col class="text-center">
      <ion-label class="form-title">
        Vous etes :
      </ion-label>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col class="text-center">
      <ion-label class="profile-label">
        Sans emploi
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="text-center">
      <ion-label class="incoming-text">Mois restants ?</ion-label>
    </ion-col>
  </ion-row>
  <div style="padding:5px 25px">
    <ion-row class="p-top-10">
      <ion-col class="text-center">
        <ion-label class="search-text" style="opacity: 0.3;">
          ARE
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="p-top-10">
      <ion-col class="text-center">
        <ion-label class="search-text" style="opacity: 0.5;">
          ATA
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="p-top-10">
      <ion-col class="text-center">
        <div class="search-text" style="line-height: 40px;width: 100%; border-radius: 25px;border: 1px solid grey;">
          ASS
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="p-top-10">
      <ion-col class="text-center">
        <ion-label class="search-text" style="opacity: 0.8;">
          Preretraite progressive
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="p-top-10">
      <ion-col class="text-center">
        <ion-label class="search-text" style="opacity: 0.5;">
          ARPE
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="p-top-10">
      <ion-col class="text-center">
        <ion-label class="search-text" style="opacity: 0.3;">
          CATS
        </ion-label>
      </ion-col>
    </ion-row>

    <br>
    <br>
    <br>
    <ion-row>
      <ion-col>
        <div class="d-flex" style="display: flex;justify-content: space-between;">
          <div class="arrow-left d-flex-v-center" routerLink="/job-search" routerDirection="forward">
            <ion-icon name="arrow-back" mode="md"></ion-icon>
          </div>
          <div class="arrow-right d-flex-v-center" routerLink="/unemployed-more" routerDirection="forward">
            <ion-icon name="arrow-forward" mode="md"></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
