<ion-content fullscreen>
  <div style="padding-top: 60px;padding-bottom: 30px;">
    <ion-row>
      <ion-col class="text-center">
        <ion-label>
          <h1 style="color: grey;"><strong>CONNEXION</strong></h1>
        </ion-label>
      </ion-col>
    </ion-row>
  </div>
  <div class="login-form" mode="ios">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-row mode="md">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" class="form-control" name="email" formControlName="email" placeholder="Correo electrónico"
            required [ngClass]="{ 'is-invalid': submitted && f.email.errors }"></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
        </ion-col>
      </ion-row>
      <ion-row mode="md">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Mot de passe</ion-label>
            <ion-input type="password" class="form-control" name="password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password"
            placeholder="Contraseña" required></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            <a>
              <h6>
                Mot de psse oublie?
              </h6>
            </a>
          </ion-label>
        </ion-col>
      </ion-row>
      <br>
      <br>
      <ion-row>
        <ion-col>
          <ion-button expand="block"  type="submit">Se connecter</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
