<ion-content fullscreen mode="ios">
  <img src="assets/arrow_down.png" class="close-icon" routerLink="/profile-information" routerDirection="forward">
  <div class="profile-form">
    <ion-row>
      <ion-col class="text-center">
        <ion-label class="form-title">
          Vos informations <div>
            personnelles
          </div>
        </ion-label>
      </ion-col>
    </ion-row>
  </div>
  <ion-row *ngIf="types">
    <ion-col size="6" *ngFor="let data of types">
      <ion-card mode="ios" class="incoming-card  d-flex-v-center" (click)="onClickMove(data.name, data.id)">
        <ion-card-content class="text-center">
          <div class="card-value">
            {{data.name}}
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <!-- <ion-col size="6">
      <ion-card mode="ios" class="incoming-card d-flex-v-center" routerLink="/pension-type" routerDirection="forward">
        <ion-card-content class="text-center">
          <div class="card-value">
            Retraites
            <div>
              & pensions
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card mode="ios" class="incoming-card  d-flex-v-center">
        <ion-card-content class="text-center">
          <div class="card-value">
            Capital
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card mode="ios" class="incoming-card  d-flex-v-center" routerLink="/profile-social"
        routerDirection="forward">
        <ion-card-content class="text-center">
          <div class="card-value">
            Revenus
            <div>
              sociaux
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card mode="ios" class="incoming-card  d-flex-v-center" routerLink="/received" routerDirection="forward">
        <ion-card-content class="text-center">
          <div class="card-value">
            Revenus
            <div>
              immobiliers et
            </div>
            placement
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card mode="ios" class="incoming-card  d-flex-v-center" routerLink="/profile-tax" routerDirection="forward">
        <ion-card-content class="text-center">
          <div class="card-value">
            Revenus
            <div>
              fiscaux
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col> -->
  </ion-row>

</ion-content>
