<ion-content fullscreen mode="ios">
  <div class="profile-form">
    <ion-row>
      <ion-col class="text-center">
        <ion-label class="form-title">
          Vos informations <div>
            personnelles
          </div>
        </ion-label>
      </ion-col>
    </ion-row>
  </div>
  <ion-row>
    <ion-col size="6">
      <ion-card mode="ios" class="incoming-card  d-flex-v-center">
        <ion-card-content class="text-center">
          <div class="card-value">
            Travail
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card mode="ios" class="incoming-card  d-flex-v-center" routerLink="/pension-type" routerDirection="forward">
        <ion-card-content class="text-center">
          <div class="card-value">
            Retraites
            <div>
              & pensions
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card mode="ios" class="incoming-card  d-flex-v-center">
        <ion-card-content class="text-center">
          <div class="card-value">
            Capital
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card mode="ios" class="incoming-card  d-flex-v-center">
        <ion-card-content class="text-center">
          <div class="card-value">
            Revenus
            <div>
              sociaux
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
     <ion-col size="6">
      <ion-card mode="ios" class="incoming-card  d-flex-v-center">
        <ion-card-content class="text-center">
          <div class="card-value">
            Revenus
            <div>
              immobiliers et
            </div>
            placement
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
     <ion-col size="6">
      <ion-card mode="ios" class="incoming-card  d-flex-v-center">
        <ion-card-content class="text-center">
          <div class="card-value">
            Revenus
            <div>
              fiscaux
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
