<ion-content fullscreen>
  <div style="padding: 60px 15px 30px;">
    <ion-row>
      <ion-col class="text-center">
        <ion-label>
          <h1 style="color: grey;"><strong>Garantit la sècuritè
              <div>
                de vos donnèes
              </div>
            </strong></h1>
        </ion-label>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col class="text-center">
        <ion-label class="form-content-title">
          Lorem Ipsum
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-center">
        <ion-label class="form-content-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt ut labore et dolore
          magna aliqua.
          <div>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt ut labore et dolore
          magna aliqua.
          </div>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt ut labore et dolore
          magna aliqua.
        </ion-label>
      </ion-col>
    </ion-row>
    <br>
    <br><br>
    <ion-row>
      <ion-col class="text-center">
        <ion-label>
          <h1 style="color: #afafe9;cursor: pointer;" routerLink="/register" routerDirection="forward">
            <strong>Créer mon compte
            </strong>
          </h1>
        </ion-label>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
