<ion-content fullscreen>
  <ion-row>
    <ion-col>
      <img src="assets/plus.png" alt="..." class="plus-icon">
    </ion-col>
  </ion-row>
  <br>
  <br>
  <ion-row>
    <ion-col class="text-center">
      <h2 class="grey-white-color">
        <strong>
          Ma situaltion actuelle
        </strong>
      </h2>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card mode="ios" class="my-card">
        <ion-card-content class="text-center">
          <ion-icon name="card-outline" class="font-30"></ion-icon>
          <div class="card-value">
            -547€
          </div>
          <div class="grey-white-color">
            Situation financière
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card mode="ios" class="my-card" routerLink="/my-heritage" routerDirection="forward">
        <ion-card-content class="text-center">
          <ion-icon name="home-outline" class="font-30"></ion-icon>
          <div class="card-value">
            8 000€
          </div>
          <br>
          <div class="grey-white-color">
            Patrimoine
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card mode="ios" class="my-card">
        <ion-card-content class="text-center">
          <ion-icon name="happy-outline" class="font-30"></ion-icon>
          <div class="card-value">
            118 500€
          </div>
          <br>
          <div class="grey-white-color">
            Dète
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card mode="ios" class="my-card">
        <ion-card-content class="text-center">
          <ion-icon name="bar-chart-outline" class="font-30"></ion-icon>
          <div class="card-value">
            53 000 €
          </div>
          <br>
          <div class="grey-white-color">
            Dans 10 ans
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="text-center">
      <h2 class="grey-white-color">
        <strong>
          Les prèconisations
          <div>
            CROSH
          </div>
        </strong>
      </h2>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card mode="ios" class="crosh-card">
        <ion-card-content class="text-center">
          <ion-icon name="card-outline" class="font-30"></ion-icon>
          <div class="card-value">
            -240€
          </div>
          <div class="grey-white-color">
            Situation financière
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card mode="ios" class="crosh-card" routerLink="/crosh-heritage" routerDirection="forward">
        <ion-card-content class="text-center">
          <ion-icon name="home-outline" class="font-30"></ion-icon>
          <div class="card-value">
            30 000€
          </div>
          <br>
          <div class="grey-white-color">
            Patrimoine
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card mode="ios" class="crosh-card">
        <ion-card-content class="text-center">
          <ion-icon name="happy-outline" class="font-30"></ion-icon>
          <div class="card-value">
            125 500€
          </div>
          <br>
          <div class="grey-white-color">
            Dète
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card mode="ios" class="crosh-card">
        <ion-card-content class="text-center">
          <ion-icon name="bar-chart-outline" class="font-30"></ion-icon>
          <div class="card-value">
            92 000 €
          </div>
          <br>
          <div class="grey-white-color">
            Dans 10 ans
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
       <ion-button mode="ios" expand="block">Comprendre sa situation</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
